@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
	background: #262a2b;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

img {
	position: absolute;
	top: 10%;
	left: 77%;
	height: 100px;
}

.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li.ascent {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 25vh;
	background: url(./imagens/ascent.jpg) no-repeat center center;
	background-size: cover;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li.fracture {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 25vh;
	background: url(imagens/fracture.jpg) no-repeat center center;
	background-size: 310%;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li.haven {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 25vh;
	background: url(imagens/haven.jpg) no-repeat center center;
	background-size: 300%;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li.bind {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 25vh;
	background: url(imagens/bind.jpg) no-repeat center center;
	background-size: 300%;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li.lotus {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 25vh;
	background: url(imagens/lotus.jpg) no-repeat center center;
	background-size: 400%;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li.pearl {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 25vh;
	background: url(imagens/pearl.jpg) no-repeat center center;
	background-size: 310%;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li.split {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 25vh;
	background: url(imagens/split.jpg) no-repeat center center;
	background-size: cover;
	border: 1px solid #252727;
	text-align: left;
}

.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 2em;
	color: white;
	margin-bottom: 5px;
	text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.tilesWrap li p {
	font-size: 1.3em;
	line-height: 30px;
	color: rgb(255, 255, 255);
	margin-top: 55px;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 1;
	color: #ffffff;
	text-shadow: 2px 2px 5px black;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li.ascent:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
}
.tilesWrap li:nth-child(1):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}
.tilesWrap li:nth-child(5):before {
	background: #fc3592;
background: -webkit-linear-gradient(to right, #0ABFBC, #9c35fc);
background: linear-gradient(to right, #160abf, #fcc735);
}
.tilesWrap li:nth-child(6):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #19bf0a, #35d4fc);
}
.tilesWrap li:nth-child(7):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #b90abf, #4235fc);
}